@model WebAppPresidentes.Models.Entidades.Profesion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Profesion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="IdProfesion" type="Hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="NombreProfesion" class="control-label"></label>
                <input asp-for="NombreProfesion" class="form-control" />
                <span asp-validation-for="NombreProfesion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grado" class="control-label"></label>
                <input asp-for="Grado" class="form-control" />
                <span asp-validation-for="Grado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label>
                <input asp-for="Especialidad" class="form-control" />
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
           
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a role="button" class="btn btn-success"
                   asp-action="ListColaborador">Atras</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
